.menu {
    display: flex;
    justify-content: center;
    background-color: #fff;
    min-height: 600px;
    &_list {
        display: flex;
        flex-direction: column;
    }
    &_order {
        margin-top: 24px;
        display: flex;
        margin-left: 25px;
        button {
            width: 120px;
            height: 50px;
            font-family: 'Cormorant Infant';
            font-size: 22px;
            letter-spacing: 3px;
            text-transform: uppercase;
            border: 2px solid #292E36;
            border-radius: 5px;
            color: #292E36;
            background: none;
            transition: .5s ease-in;
            &:hover {
                color: #292E36;
                border: 2px solid #E1B168;
                background-color: #E1B168;
            }
            &:active {
                background-color: #292E36;
                color: #fff;
            }
        }
    }
    &_filters {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        button {
            width: 120px;
            height: 50px;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 2px;
            background: none;
            color: #292E36;
            font-family: 'Cormorant Infant';
            border: 1px solid #292E36;
            border-radius: 4px;
            transition: .5s ease;
            &:hover {
                color: #fff;
                background-color: #292E36;
            }
        }
    }
    &_btns {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        a {
            text-transform: uppercase;
            font-size: 28px;
            border: 2px solid #292E36;
            padding: 10px 15px;
            margin-bottom: 20px;
            font-family: 'Cormorant Infant';
            cursor: pointer;
            border-radius: 5px;
            color: #292E36;
            &:hover {
                color: #292E36;
                border: 2px solid #E1B168;
                background-color: #E1B168;
            }
        }
        button {
            width: 90px;
            height: 60px;
            font-size: 72px;
            background: none;
            margin-bottom: 20px;
            border: none;
            color: #797E89;
            margin-right: 24px;
            margin-left: 24px;
            &:hover {
                color: #292E36;
            }
        }
    }
    &_child {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    &_item_100, &_item_250 {
        // display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        width: 900px;
        border: 1px solid gray;
        transition: .8s ease-in;
        padding: 5px;
        &_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 900px;
            cursor: pointer;
            img {
                margin-left: 20px;
                width: 80px;
                height: 90px;
                border-radius: 20px;
            }
        }
    }
    &_item_250 {
        align-items: flex-start;
        height: 280px;
        &_title {
            margin-left: 20%;
        }
        img {
            position: absolute;
            width: 196px;
            height: 220px;
            margin-top: -20px;
        }
    }
    &_item_arrow_100, &_item_arrow_250 {
        font-size: 30px;
        padding-right: 24px;
    }
    // &_item_arrow_250 {
    //     // margin-top: 25px;
    // }
    &_target {
        margin-right: 100px;
        width: 500px;
        &_compound {
            display: flex;
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 1px;
            color: #555555;
            ul {
                margin-left: 30px;
                margin-top: 50px;
            }
        }
        h4 {
            font-family: 'Cormorant Infant';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 56px;
            letter-spacing: 2px;
            color: #292E36;
            margin: 0;
            margin-bottom: 20px;
        }
        span {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 1px;
            color: #555555;
        }
        img {
            margin-top: 30px;
            width: 250px;
        }
    }
    &_container {
        min-width: 600px;    
        min-height: 845px;
        &_title {
            width: 150px;
            margin: 0 auto;
        }
        h4 {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 3px;
            color: #292E36;
            text-transform: uppercase;
            border-top: 2px solid #E1B168;
            border-bottom: 2px solid #E1B168;
            padding: 5px 0;
            text-align: center;
        }
        span {
            margin-left: 20px;
            font-family: 'Cormorant Infant';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 42px;
            letter-spacing: 2px;
            color: #292E36;
        }
        p {
            margin-left: 20px;
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.2px;
            color: #555555;
            margin-top: 0;
        }
    }
    &_descr {
        &_item {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            padding: 0 40px;
            ul {
                margin-top: -10px;
                margin-left: 27%;
                li {
                    font-family: 'Cormorant Infant';
                    color: #555555;
                    font-size: 22px;
                }
            }
        }
    }
}

.test {
    span {
        color: green;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .menu {
        &_item {
            &_100 {
                width: 700px;
                &_container {
                    width: 700px;
                }
            }
            &_250 {
                width: 700px;
                &_title {
                    margin-left: 28%;
                    span {
                        font-size: 22px;
                    }
                    p {
                        font-size: 17px;
                    }
                }
            }
        }
        &_descr {
            &_item {
                ul {
                    margin-left: 29%;
                    li {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}