.menu {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding-top: 20px;
    &_filters {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        button {
            width: 120px;
            height: 50px;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 2px;
            background: none;
            color: #292E36;
            font-family: 'Cormorant Infant';
            border: 1px solid #292E36;
            border-radius: 4px;
            transition: .5s ease;
            &:hover {
                color: #fff;
                background-color: #292E36;
            }
        }
    }
    &_btns {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        button {
            width: 90px;
            height: 60px;
            font-size: 72px;
            background: none;
            margin-bottom: 20px;
            border: none;
            color: #797E89;
            margin-right: 24px;
            margin-left: 24px;
            &:hover {
                color: #292E36;
            }
        }
    }
    &_child {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    &_descr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        &_container {
            display: flex;
            align-items: center;
            cursor: pointer;
            img {
                width: 80px;
                height: 90px;
                border-radius: 20px;
            }
        }
    }
    &_target {
        margin-right: 100px;
        width: 500px;
        &_compound {
            display: flex;
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 1px;
            color: #555555;
            ul {
                margin-left: 30px;
                margin-top: 50px;
            }
        }
        h4 {
            font-family: 'Cormorant Infant';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 56px;
            letter-spacing: 2px;
            color: #292E36;
            margin: 0;
            margin-bottom: 20px;
        }
        span {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 1px;
            color: #555555;
        }
        img {
            margin-top: 30px;
            width: 250px;
        }
    }
    &_container {
        min-width: 600px;
        h4 {
            font-family: 'Cormorant Infant';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 56px;
            letter-spacing: 2px;
            color: #292E36;
            margin: 0;
            margin-bottom: 20px;
            text-decoration: underline;
        }
        span {
            margin-left: 20px;
            font-family: 'Cormorant Infant';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 42px;
            letter-spacing: 2px;
            color: #292E36;
        }
        p {
            margin-left: 20px;
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.2px;
            color: #555555;
            margin-top: 0;
        }
    }
}