.text_modal {
    &_title {
        h2 {
            font-family: 'Josefin Sans';
            font-weight: 700;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 2px; 
        }
    }
}