.about {
    width: 1440px;
    margin: 0 auto;
    height: 100%;
    background-color: #FFF8F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0;
    &_map {
        display: flex;
        justify-content: center;
        border: none;
        width: 1440px;
        &_place {
            width: 1240px;
            height: 500px;
        }
    }
    &_container {
        display: flex;
    }
    &_image {
        padding-left: 20px;
        img {
            width: 740px;
        }
    }
    &_descr {
        color: #292E36;
        margin-left: 50px;
        h2 {
            font-family: 'Cormorant Infant';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 56px;
            margin-top: 0;
            letter-spacing: 2px;
        }
        h3 {
            font-family: 'Cormorant Infant';
            font-style: normal;
            font-weight: 400;
            font-size: 38px;
            line-height: 56px;
            letter-spacing: 2px;
        }
        span {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 1px;
        }
    }
    &_us {
        display: flex;
        &_left {
            margin-right: 70px;
        }
    }
    &_sing {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        span {
            margin-bottom: 20px;
            letter-spacing: 2px;
        }
        img {
            width: 190px;
        }
    }
    &_other {
        margin: 0 auto;
        margin-top: 40px;
        button {
            background-color: #E1B168;
            text-transform: uppercase;
            font-family: 'Josefin Sans';
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 2px;
            width: 210px;
            height: 50px;
            color: #292E36;
            transition: .5s ease;
            border: 2px solid #292E36;
            &:hover {
                background-color: #292E36;
                color: #fff;
                transition: .5s ease;
            }
        }
    }
    &_footer {
        margin: 60px 0;
        display: flex;
        justify-content: center;
        &_item {
            color: #292E36;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            &_logo {
                margin-right: 20px;
            }
            h5 {
                margin: 0;
                font-family: 'Cormorant Infant';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 39px;
            }
            span {
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.2px;
                color: #555555;
            }
        }
    }
}