.blog {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    &_promo {
        padding-bottom: 30px;
    }
    &_subtitle {
        text-align: center;
        span {
            font-family: 'Josefin Sans';
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #292E36;
            border-top: 2px solid #E1B168;
            border-bottom: 2px solid #E1B168;
            padding: 5px 0;
        }
    }
    &_title {
        h1 {
            font-family: 'Cormorant Infant';
            font-weight: 400;
            font-size: 40px;
            line-height: 56px;
            text-align: center;
            letter-spacing: 0.2px;
            text-transform: capitalize;
            color: #292E36;
            margin: 15px 0;
        }
    }
    &_descr {
        text-align: center;
        span {
            font-family: 'Josefin Sans';
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #555555;
        }
    }
    &_content {
        display: flex;
        &_item {
            width: 640px;
            height: 720px;
            position: relative;
            margin-left: 40px;
            border: 1px solid #55555570;
            margin-bottom: 50px;
            img {
                opacity: .87;
            }
            button {
                position: absolute;
                top: 22%;
                left: 33%;
                width: 230px;
                height: 73px;
                background: #E1B168;
                border: none;
                color: #292E36;
                font-size: 28px;
                letter-spacing: 3px;
                font-weight: 700;
                font-family: 'Cormorant Infant';
            }
        }
        &_subtitle {
            display: flex;
            margin-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
            span {
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: #292E36;
                border-top: 2px solid #E1B168;
                border-bottom: 2px solid #E1B168;
                padding: 5px 0;
            }
        }
        &_date {
            margin-left: 40px;
        }
        &_title {
            padding-left: 20px;
            margin-top: 15px;
            h2 {
                font-family: 'Cormorant Infant';
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 39px;
                letter-spacing: 2px;
                text-transform: capitalize;
                color: #292E36
            }
            span {
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.2px;
                color: #555555;
            }
        }
    }
}