.container {
    // width: 1440px;
    // margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 991px) {
    .container {
        width: 991px;
    }
}